.container{
    height: 750px;
    background-color: rgb(254,247, 237);
    color: rgb(58,84,180);
    overflow: hidden;
    
}
.container .imagen:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.title{
    display: flex;
    justify-content: center;
}
.title h1{
    font-size: 70px;
    margin:90px 0 30px 0;
    font-family: 'Work Sans', sans-serif;
}

.servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 50px;
}

.servConteiner{
    grid-column: 1span;
    cursor: pointer;    

}

.servConteiner img{
 width: 300px;
 height: 300px;
 border-radius: 50%;
 object-fit: cover;
 object-position:center;
 cursor: pointer;
 
}

/* .imagen:hover{
    filter: grayscale(80%);
} */

.serv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.serv p{
    width: 300px;
    align-items: center;
    line-height: 30px;
    letter-spacing: 1px;
}

.serv h3{
    margin: 20px;
    font-size: 30px;
    font-weight: 400;
}