*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(58,84,180);
}
.principal{
    padding: 40px 50px 20px 50px;
    height: auto;
    width: 35%;
    background-color: rgb(254,247, 237);
    border-radius: 10px;
}
.containerBnt{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.btn{
    width: 40%;
    height: 35px;
    background-color: rgb(58,84,180);
    border: none;
    text-decoration: none;
    color: rgb(254,247, 237);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}
.btn:hover{
    color:rgb(58,84,180);
    border: 1px solid rgb(58,84,180);
    background-color:rgb(254,247, 237);
    border-radius: 5px;
}

.datosForm{
    border: 1px solid rgb(58,84,180);
    border-radius: 5px;
    padding: 6px 6px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title{
    font-family: 'Work Sans', sans-serif;
    color:rgb(58,84,180);
    text-align: center;
    margin-bottom: 16px;
    border-bottom: 1px solid rgb(58,84,180);
    font-size: 35px;
}
.subTitle{
    font-family: 'Work Sans', sans-serif;
    color:rgb(58,84,180);
    text-align: center;
    margin-bottom: 16px;
}

.info{
    margin-left: 22px;
    font-family:  sans-serif;
    font-size: 14px;
    color:rgb(58,84,180);
}

.infoTitle{
    margin-bottom: 4px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align:center;
}
.beneficios{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.bene{
    font-size: 18px;
    margin-top:10px ;
}

.containerVolver{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnV{
    width: 25%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58,84,180);
    color: rgb(254,247, 237);
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}
.btnV:visited{
    text-decoration:none;
    color: #fff;
}
.btnV:hover{
    color:rgb(58,84,180);
    border: 1px solid rgb(58,84,180);
    background-color:rgb(254,247, 237);
    border-radius: 5px;
}