/* .wrapper{
    bottom: 150px;
    left: 30px;
            height: 34px;
            padding: 13px 14px 4px;
            position: fixed;
            width: 100%;
            z-index: 5000;
            display: inline;
    }

.wrapper form{
    margin-right: 10px;
}

.wrapper input{
    align-items: center;
    border-radius: 5px;
    margin-right: 5px;
}

.wrapper button {
    background-color: rgb(58,84,180);
    border-radius: 5px;
    padding: 2px 2px 0 2px;
}

.wrapper button:hover {
    background-color: aliceblue;
}

.wrapper div {
    /* position: absolute; */
/* float:inline-end; */
/* margin-left:225px;
    width: 220px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: 2px solid #000;
    border-color: rgb(58,84,180);
    background-color: white
}  */

body {
  padding: 0;
  margin: 0;
  /* background-color: rgb(254, 247, 237); */
}

.container {
  background-color: rgb(254, 247, 237);
  height: 100vh;
}

.App {
  height: 80%;
  display: grid;
  place-items: center;
  background-color: rgb(254, 247, 237);
}

.logIn {
  width: 600px;
  height: 350px;
  border: 5px solid #0091ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logIn input {
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 2px solid #0091ff;
  background-color: transparent;
  padding-left: 10px;
  color: black;
  font-size: 15px;
}

.logIn input:focus {
  outline: none;
}

.logIn button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #0091ff;
  color: white;
  font-size: 16px;
  margin-top: 45px;
}

.logIn button:hover {
  cursor: pointer;
  background-color: #037edc;
}

.chatContainer {
  width: 600px;
  height: 350px;
  border: 5px solid #0091ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.chatContainer .messages {
  flex: 80%;
  width: 100%;
  padding-left: 20px;
}

.chatContainer .messageInputs {
  flex: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.chatContainer .messageInputs input {
  flex: 80%;
  height: calc(100% -5px);
  border: none;
  border-top: 5px solid #0091ff;
  padding-left: 20px;
  font-size: 20px;
}

.chatContainer .messageInputs button {
  flex: 20%;
  height: 100%;
  background-color: #0091ff;
  border: none;
  color: white;
  font-size: 18px;
}

.messageContainer {
  display: flex;
  width: calc(100% - 30px);
}

.messageContainer h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
}

#You {
  justify-content: flex-start;
}

#Other {
  justify-content: flex-end;
}

#Other .messageIndividual {
  background-color: #5ff064;
  color: black;
}
.messageIndividual {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  background-color: #0091ff;
  opacity: 0.9;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  margin-top: 20px;
}
