.container{
    background-color: rgb(254,247, 237);
    height: auto;

}

.containerPortada{
    height: 200px;
    width: 100%;
}
.containerPortada img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-bottom: rgb(58,84,180) solid 4px;
}

.fotoPerfil{
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top:100px;
    left: 200px;
}

.fotoPerfil img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    top:5px;
    left: 5px;
    object-fit: cover;
    object-position: center;
}

.containerPerfil{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 77vh;
}

.personalInformation{
    grid-column: 1span;
    background-color: white;
    width: 400px;
    height: 500px;
    margin-left: 100px;
    /* box-shadow: 1px 1px 5px rgb(0, 0, 0); */
}

.informacion{
    margin: 120px 0 0 25%;
}

.informacion h2{
    margin: 0px auto 0 auto;
    width: auto;
    font-family: 'Work Sans', sans-serif;
    color:rgb(58,84,180);
  
}

.liService{
    margin: 20px 0 20px 0;
    list-style-image: url("../../media/iconService.png");
    font-family: 'Nunito', sans-serif;
}
.libirth{
    margin: 20px 0 20px 0;
    list-style-image: url("../../media/iconBirth.png");
    font-family: 'Nunito', sans-serif;
}
.liPhone{
    margin: 20px 0 20px 0;
    list-style-image: url("../../media/iconPhone.png");
    font-family: 'Nunito', sans-serif;
}
.liEmail{
    margin: 20px 0 20px 0;
    list-style-image: url("../../media/iconEmail.png");
    font-family: 'Nunito', sans-serif;
}
.liUbication{
    margin: 20px 0 20px 0;
    list-style-image: url("../../media/iconUbication.png");
    font-family: 'Nunito', sans-serif;
}
.liDni{
    margin: 20px 0 20px 0;
    list-style-image: url("../../media/iconDni.png");
    font-family: 'Nunito', sans-serif;
}


.caracteristicas{
    grid-column: 1span;
    width: auto;
}

.descripcion{
    margin: 0px 20px 20px 20px;
    width: 600px;
    height: auto;
    background-color: white;
    /* box-shadow: 1px 1px 5px rgb(0, 0, 0); */
}
.descripcion h2{
    padding: 10px ;
    font-family: 'Work Sans', sans-serif;
    color:rgb(58,84,180);
}
.descripcion p{
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    
}
.price{
    margin: 20px;
    width: 600px;
    height: auto;
    background-color: white;
    /* box-shadow: 1px 1px 5px rgb(0, 0, 0); */
}
.price h2{
    padding: 10px ;
    font-family: 'Work Sans', sans-serif;
    color:rgb(58,84,180);
}
.price p{
    padding: 10px;
    font-family: 'Nunito', sans-serif;
}

.reputacion{
    margin: 20px;
    width: 600px;
    height: auto;
    background-color: white;
    /* box-shadow: 1px 1px 5px rgb(0, 0, 0); */
}
.reputacion h2{
    padding: 10px ;
    font-family: 'Work Sans', sans-serif;
    color:rgb(58,84,180);
}

.reputacion p{
    font-size: 30px;
    color: yellow;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
}

.fotos{
    margin: 20px;
    width: 600px;
    height: auto;
    background-color: white;
    /* box-shadow: 1px 1px 5px rgb(0, 0, 0); */
    
}
.fotos h2{
    padding: 10px ;
    font-family: 'Work Sans', sans-serif;
    color:rgb(58,84,180);
}

.galeria{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 500px;


}

.galeria img{
    grid-column: 1span;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid rgb(58,84,180, 0.5) 4px;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s;
}
.galeria img:hover{
    -webkit-transform:scale(2);transform:scale(2);
}

.notificaciones{
    height: 300px;
    margin: 0 20px 0 0px;
    background-color: white;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
}

.notificaciones input{
    margin: 10px;
    width: 300px;
}

.editContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    
}
.editContainerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 70px;
}

.edit{
    width: 100px;
    height: 25px;
    background-color: rgb(58,84,180);;
    border: none;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    margin: 5px 20px 10px 0;
    color: white;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.editDescription{
    width: 150px;
    height: 25px;
    background-color: rgb(58,84,180);;
    border: none;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    margin: 5px 20px 10px 0;
    color: white;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.editDescription:hover{
    box-shadow: none;
}
.edit:hover{
    box-shadow: none;
}

.calendario{
    width: 359px;
    height: 300px;
}

.textDescription{
    width:300px ;
}

.textDescriptionNew{
 width: 600px;
 height: auto;
 overflow-wrap:break-word
}

.horario{
    margin: 20px;
    width: 600px;
    height: auto;
    background-color: white;
}

.table{
    border: solid rgb(58,84,180) 1px;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
}

.horario h2{
    padding: 10px ;
    font-family: 'Work Sans', sans-serif;
    color:rgb(58,84,180);
}

.table td{
    border: solid rgb(58,84,180) 1px;
    padding: 2px 5px 2px 5px;
    font-size: 15px;
    text-align: center;
}

.editHorario{
    width: 120px;
    height: 25px;
    background-color: rgb(58,84,180);;
    border: none;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    margin: 5px 20px 10px 0;
    color: white;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.checkout{
    border: none;
    background-color: red;
    color: white;
    height: 30px;
    width: 150px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.containerCheckout{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}
.checkout:hover{
    box-shadow: none;
}