* {
  scroll-behavior: smooth;
}
.container {
  /* display: grid;
    grid-template-colmns: repeat(18, 1fr); */
  display: flex;
  height: 100%;
  width: 100%;
}
.navBar {
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
  position: fixed;
  top: 0px;
  background-color: rgb(254, 247, 237);
  width: 100%;
  height: 80px;
  padding-left: 50px;
  font-size: 25px;
  font-weight: 700;
  z-index: 1;
}
.title {
  width: 20%;
  height: 20%;
}
.scrolling {
  background-color: rgb(254, 247, 237);
  transition: all 0.5s ease;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  padding-left: 50px;
  font-size: 25px;
  z-index: 1;
}

.logo {
  /* grid-column: 3 span; */
  /* line-height: 80px; */
  margin-top: 8px;
  color: rgb(58, 84, 180);
  cursor: pointer;
  font-weight: 700;
}
.containerA {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  display: flex;
}
.containerA a {
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin: 0;
  padding: 0 20px 0;
  text-decoration: none;
  padding-left: 20px;
}

.login {
  margin-left: 50%;
  font-weight: 400;
  font-size: 17px;
  transition: all 0.3s;
}

.containerA a:hover {
  background-color: rgb(142, 142, 243, 0.5);
}

.containerA a:visited {
  color: rgb(58, 84, 180);
}

.containerLogin {
  margin-left: -50px;
  width: 200%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* margin-right: 200px; */
}
.login {
  text-decoration: none;
  color: rgb(58, 84, 180);
}
.login:visited {
  text-decoration: none;
  color: rgb(58, 84, 180);
}
.log {
  width: 100px;
  height: 100%;
  margin-right: 30px;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  color: rgb(58, 84, 180);
}
.log:visited {
  width: 100px;
  height: 100%;
  text-decoration: none;
  color: rgb(58, 84, 180);
}
.containerLogin:hover {
  background-color: rgb(142, 142, 243, 0.5);
}
.log:visited {
  color: rgb(58, 84, 180);
}
