.container{
    margin-top: -35px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.userContainer{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}