.container{
    background-color: rgb(254,247, 237);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .formulario{
    width: 700px;
    height:600px;
    background-color: white;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
  }
  
  .formulario h1{
    margin: 10px 0 10px 20px;
    color: rgb(58,84,180);
  }
  
  .input{
    margin: 10px 20px 10px 20px;
    padding: 10px;
    width: 90%;
    height: 50px;
    border: solid rgb(192, 192, 192) 1px;
  }

  .selector{
    margin: 10px 20px 10px 20px;
     padding: 10px;
     width: 90%;
     height: 50px;
     border: solid rgb(192, 192, 192) 1px;
 }
  .formulario button{
    width: 100px;
    height: 30px;
    margin: 10px 20px 20px 550px;
    border:none;
    background-color: rgb(58,84,180);
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .formulario button:hover{
    box-shadow: none;
  }
  
  .file{
      border: none !important;

  }
  .selectFile label{
      margin: 20px 0 10px 20px;
      font-size: 20px;
      font-weight: 600;
      color: rgb(58,84,180);
  }
.containerBtn{
  width: 80%;
  height: 50px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.edit{
  width: 150px;
  height: 30px;
  border:none;
  background-color: rgb(58,84,180);
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  cursor: pointer;
}
  .volver{
    border: none;
    background-color: green;
    color: white;
    height: 30px;
    width: 150px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.edit:hover,
.volver:hover{
    box-shadow: none;
  }

.selectFile{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inputImg{
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(58,84,180);
}
.inputImg #back{
  color: transparent;
}
.inputImg::-webkit-file-upload-button{
  background-color: rgb(58,84,180);
  color: #fff;
  font-size: 15px;
  border: none;
  height: 30px;
  padding: 2px; 
  transition: .3s;
}
.inputImg::-webkit-file-upload-button:hover{
  background-color:#fff ;
  color: rgb(58,84,180);
  border-right: 1px solid rgb(58,84,180);
}
.label{
  font-size: 22px;
  color: rgb(58,84,180);
}