
.titulo{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    color: rgb(58,84,180);
} 

.carrusel{
    overflow: hidden;
    text-align: center;
    margin-left: 12px;
    margin-bottom: -60px;
  /* background-color: rgb(207, 204, 204); */
    background-color: #c6d3a9;
    object-fit: cover;
    object-position: center;
    width: 800px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    
}   

.cartas{
    display: flex;
    animation: cambio 16s infinite alternate linear;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    margin: 12px;

}

@keyframes cambio {
    0%{margin-left:0;}
    30%{margin-left: 0;}

    60%{margin-left: -99%;}
    100%{margin-left: -99%;}
}

	
	
	