/* *,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} */
/* .card {
    height: 360px;
    width: 480px;
    padding: 5rem;
    margin: 20px 40px;
    background-color: rgb(58,84,180);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
} */
/* .imageContainer{
    min-width: 16rem;
    max-width: 16rem;
    height: 14rem;
    transform: translateX(-7rem);
    margin-left: -30px;
} */
/* .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
    margin-left: 60px;
}
.infoContainer{
    border-radius: 20px;
    color: rgb(58,84,180);
    background-color: rgb(173, 173, 173);
    width: 300px;
    height: 00px;
}
.link {
    text-decoration: none;
}
.title, 
.name{
    background-color: rgb(173, 173, 173);
    color: rgb(58,84,180);
    font-size: 26px;
    margin: 12px;
    text-transform: uppercase;
}  */
/* .name{
    border-bottom: 1px solid rgb(58,84,180);
}
.service{
     color: rgb(58,84,180);
    background-color: rgb(173, 173, 173);
    margin: 12px;
    font-size: 20px;
}
.reputation{
     color: rgb(58,84,180);
    background-color: rgb(173, 173, 173);
    margin: 12px ;
    font-size: 20px;
}
.price{
    color: rgb(58,84,180);
    background-color: rgb(173, 173, 173);
    margin: 12px;
    font-size: 20px;
}  */

.card {
    border: none;
    width: 1000px;
    height: 350px;
    display: flex;
    margin: 0 0 20px 100px;
    background-color:white;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
    text-decoration: none;

}

.title{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    
}

.title hr{
    width: 90%;
    background-color: rgb(58,84,180);
    height: 3px;
    margin-bottom: 10px;
}

.title h3{
    margin-bottom: 20px;
}
.imageContainer{
    background-color: rgb(58,84,180, 0.2);
}

.imageContainer ul{
    margin:  0 0 0 10px;
    display: flex;
    justify-content:space-around;

}

.reputacion{
    display: flex;
    justify-content: space-around;
}
.good{
    background-color: transparent;
    border: none;
    font-size:x-large;
    cursor: pointer;
}

.bad{
    background-color: transparent;
    border: none;
    font-size:x-large;
    cursor: pointer;
}
.image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px 30px 10px 30px;
    object-fit: cover;
    object-position: center;
    border: solid white 4px;
}

.name{
    color:rgb(58,84,180);
    letter-spacing: 2px;
    margin: 30px;
    font-size: 'Work Sans', sans-serif;
    text-transform: capitalize;
    font-size:50px ;
    margin-bottom: 10px;
 
    
}

.description{
    width: 200px;
}

.title span{
    margin: 0px 20px 10px 20px ;
    height: 100px;
    letter-spacing: 1px;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
   

}

.boton button{
    border: none;
    background-color: green;
    color: white;
    font-size: 15px;  

    width: 130px;
    height: 30px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    cursor: pointer;
}
.boton{
    padding-bottom: 15px;
}

.boton button:hover{
    
    box-shadow:none
}

.falta{
    text-overflow: ".";
}

.prueba{
    margin: 20px 20px 0 0 ;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}