
.fotoFondo{
    position: relative;
    right:1px;
    top: 100px;
    width: 250px;
    height: 350px;
    z-index: -2;
}
.card {
    border: none;
    width: 900px;
    height: 450px;
    display: flex;
    margin: 0 0 50px 100px;
    background-color:white;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    text-decoration: none;
    z-index: 2;
    border-radius: 3px;


}

.title{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    
}

.title hr{
    width: 90%;
    background-color: rgb(58,84,180);
    height: 3px;
    margin-bottom: 20px;
}

.title h2{
    margin-bottom: 20px;
}

.title h3{
    color:rgb(58,84,180);
    margin-bottom: 5px;
}

.title p{
    margin-bottom: 20px;
}
.imageContainer{
    background-color: rgb(58,84,180, 0.2);
    display: flex;
    flex-direction: column;

    align-items: center;
}

.imageContainer ul{
    margin:  0 0 0 10px;
    display: flex;
    justify-content:space-around;

}


.image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 40px 30px 10px 30px;
    object-fit: cover;
    object-position: center;
    border: solid white 4px;
}

.name{
    color:rgb(58,84,180);
    letter-spacing: 2px;
    margin: 30px;
    font-size: 'Work Sans', sans-serif;
    text-transform: capitalize;
    font-size:50px ;
    margin-bottom: 10px;
 
    
}

.description{
    width: 200px;
}

.title span{
    margin: 0px 5px 10px 20px ;
    height: 70px;
    letter-spacing: 1px;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis !important
   

}

.boton button{
    border: none;
    background-color: green;
    color: white;
    font-size: 15px;  

    width: 130px;
    height: 30px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    cursor: pointer;
}
.boton{
    margin-top: 10px;
    padding-bottom: 15px;
}

.boton button:hover{
    
    box-shadow:none
}

.falta{
    text-overflow: ".";
}

.prueba{
    margin: 20px 20px 0 0 ;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 260px;
}

.scoreContain{
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
}
.scoreContain h1{
grid-template-rows: 1 span;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.estrellas{
  grid-template-rows: 1 span;
}


