.container{
    position: relative;
    display: flex;
    background-color: rgb(254,247, 237);
}
.userContainer{
    margin-left: 250px;
    align-items: center;
    justify-content: center;
    background-color: rgb(254,247, 237);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    text-align: center;
    background-color: rgb(58,84,180);
    width: 300px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    background-color: rgb(58,84,180);
    color: rgb(173, 173, 173);
}

.costado{
    position: fixed;
    float: left;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(58, 84, 180, 0.74);
    background-color:  rgb(219, 219, 219); 
    width: 220px;
    height: 600px;
    margin-left: 10px;
    margin-top: 12px;
    text-align: center;
}

.opciones{
    text-decoration: none;
    color: black;
}

.rep{
    margin-bottom: 30px;
}
.pre{
    margin-bottom: 30px;
}

.dos,
.cuatro,
.seis,
.ocho,
.diez{
    margin: 60px;
    text-align: center;
}

.pri{
    font-size: 24px;
}

.min{
    margin-top: 18px;
} 

.max{
   margin-bottom: 10px;
   margin-left: 10px;
}

.btn{
    margin-bottom: 30px;
}

.ubi{
    font-size: 24px;
}

.zon{
    margin: 12px;
}

.serv{
    margin: 26px;
}