.container{
    width: 100%;
    height: 80px;
    background-color: rgb(254,247, 237); 
    display: flex;
    justify-content: space-between;   
    position: fixed;
    border-bottom: solid 4px  rgb(58,84,180);
    z-index: 3;
}

.logout{
    display: flex;
    justify-content:center;
    font-size: 15px;
    padding: 25px;
    width: 200px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color:rgb(58,84,180);
    margin: 0 20px 0 20px;
    background-color: #ffffff00;
    border: none;
}
.logout:hover{
    background-color: rgb(142, 142, 243,0.5);
}

.log{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}


.service{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Work Sans', sans-serif;
    color:rgb(58,84,180);
    font-size: 30px;
}

.serviceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
}

.home{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 15px;
    padding: 25px;
    width: auto;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color:rgb(58,84,180);
    margin: 0 20px 0 20px;
}
.home span{
    margin: 2px;
}
.home2{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 15px;
    width: auto;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color:rgb(58,84,180);
    margin: 0 20px 0 20px;
}
.home2 span{
    margin: 2px;
}

.home:hover{
    background-color: rgb(142, 142, 243,0.5);
}

.cerrar{
    margin-top: 450px;
}
.textdeco{
    text-decoration: none;
}

.menu button{
    background-color: transparent;
    border: none;
    font-family: 'Work Sans', sans-serif;
}
