*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(254,247, 237);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log{
    /* height: 200px; */
    width: 300px;
    background-color: rgb(207, 207, 207);
    border-radius: 2px ;
}
.log h1{
    color: rgb(58,84,180);
    text-align: center;
    padding: 15px 0 20px 0;
    border-bottom: 1px solid rgb(58,84,180);
}
.log form{
    padding: 0 40px;
}
.form .field{
    position: relative;
    margin: 30px 0;
}
.field input{
    margin-right: 5px;
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    outline: none;
}
.field label{
    position: absolute;
    top:50%;
    left: 5px;
    color: silver;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.field span::before{
    content: '';
    position: absolute;
    top:40px;
    left: 0;
    width: 0%;
    height: 2.5px;
    background: rgb(58,84,180);
    transition: .5s;
}

.field input:focus ~ label,
.field input:valid ~ label{
    top: -8px;
    color: rgb(58,84,180);;
}
.field input:focus ~ span::before,
.field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: rgb(70, 70, 70);
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}

.login{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border: 0;
    background: rgb(58,84,180);
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: .3s;
}
.login:hover{
    background: #fff ;
    color:rgb(58,84,180);
}
.link{
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 16px;
    color: rgb(70, 70, 70);
}
.create{
    color:rgb(58,84,180);
    text-decoration: none;
}
.create:hover{
    text-decoration: underline;
}